{{#if showAd}}
<iframe id='a3407742' name='a3407742' src='http://srv.csavr.com/www/delivery/afr.php?zoneid={{zone}}&amp;cb=111111'
    frameborder='0' scrolling='no' width='728' height='90'>
    <a href='http://srv.csavr.com/www/delivery/ck.php?n=a86315e0&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'>
        <img src='http://srv.csavr.com/www/delivery/avw.php?zoneid=62&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a86315e0'
            border='0' alt='' /></a>
</iframe>
{{/if}}